.card {
  border-radius: 23px;
  box-shadow: 1px 1px 14px 0px rgb(123 182 255 / 46%);
  margin-bottom: 55px;
  margin-top: 50px;
}

.span {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  color: #ff0000;
  font-weight: 600;
  font-size: 14px;
}

.formselect {
  color: white;
  width: 123px;
  height: 27px;
  border-radius: 15px;
  padding-top: 5px;
  background-color: #7bc3ff;
  padding-left: 13px;
  font-size: 13px;
  border: none;
  box-shadow: -1px 14px 26px 0px rgba(123, 182, 255, 0.6);
  letter-spacing: 1px;
  cursor: pointer;
}

.forexcalculator {
  margin-left: 17px;
  margin-top: 5px;
  font-weight: bold;
  color: #6badff;
  cursor: pointer;
  text-align: center;
}
