.button {
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  box-shadow: none;
  border: #ffffff;
  margin: 10px 0px;
}

.parentDiv {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 115px;
  background-color: #6aadfe;
  border-radius: 10px;
}
